@import  './node_modules/bootstrap/scss/bootstrap.scss';
@import 'vars.scss';
@import 'fonts.scss';
@import 'links.scss';
@import 'icons.scss';

@import 'header.scss';
@import 'sidenav.scss';
@import 'home.scss';
@import 'about.scss';
@import 'work.scss';
@import 'contact.scss';
@import 'footer.scss';

body{
    background-color: $dark-blue;
}

p{
    color: $white;
    font-family: $source-sans-pro;
    font-size: 16px;
}