.header {
  margin: $half-margin 0;
}
.header_nav {
  display: flex;
}
.header__right-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}
.header__link {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.header__mobile-nav-link {
  display: none;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.header__sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
