.work {
  margin: $double-margin 0;
}

.work__h2 {
  color: $active-blue;
  font-family: $playfair;
  font-size: 32px;
}

.work__p {
  font-size: 16px;
  margin: $half-margin 0;
}

.work__container {
  margin-top: $double-margin;
  margin-bottom: $double-margin;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}
.work__img-container {
  z-index: 1;
}
.work__img {
  width: 450px;
  height: auto;
  opacity: 0.6;
  &:hover, :focus{
    opacity: 1;
  }
  @media only screen and (max-width: 768px) {
    display: block;
    margin: auto;
    max-width: 300px;
  }
}
.work__odd {
  order: 2;
}
.work__right {
  text-align: right;
}
.work__highlight {
  color: $light-blue;
  margin-bottom: 0;
  @include media-breakpoint-down(md) {
    margin-top: $margin;
  }
}
.work__h4 {
  color: $active-blue;
  font-family: $playfair;
}
.work__details {
  z-index: 99;
}
.work__description-container {
  background-color: $darkest-blue;
  padding: $margin;
  @include media-breakpoint-up(md) {
    margin-left: -15%;
  }
}
.work__right-side {
  @include media-breakpoint-up(md) {
    margin-right: -15%;
  }
  .work__description-container {
    @include media-breakpoint-up(md) {
      margin-left: 0;
    }
  }
}
